# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Data and Models
nyt10m/
wiki20m/
HFMRE/ckpt/
HFMRE/benchmark/
OpenNRE/ckpt_3/
OpenNRE/pretrain/
OpenNRE/benchmark/
*.pth
*.pth.tar
*.npy
*.pt
together_out/
llama_out/

# OS
.DS_Store
