# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Data and Models
nyt10m/
wiki20m/
datasets/
HFMRE/ckpt/
HFMRE/benchmark/
OpenNRE/ckpt_3/
OpenNRE/pretrain/
OpenNRE/benchmark/
*.pth
*.pth.tar
*.npy
*.pt
*.jsonl
*.json
*.txt
!datasets/
!datasets/nyt10m/
!datasets/nyt10m/eng_Latn_final.jsonl
!pare_data_en_example_bags.jsonl
together_out/
llama_out/

# OS
.DS_Store
